*{
    padding: 0px;
    margin: 0px;
}

/*set width cho cả trang*/

body{
    /*width: 1366px;*/
    width: 1024px;
    margin: 0px auto;
}


#header{
    background: orange;
    width: 100%;
    height: 60px;   
    text-align: center;
    line-height: 60px; /* line-height <=> valign="middle" trong thẻ td */
}

#menu{
    background: #CCC;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

#menu ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#menu ul li{
    /*Cách 1*/
    float: left;
    /*Cách 2 - Bị lỗi lúc a:hover*/ 
    /*display: inline-block;*/
}

#menu ul li a{
    text-decoration: none;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    border-right: 1px solid #FEFEFE;
}

#menu ul li:last-child a{
    border-right: none;
}

#menu ul li a:hover{
    background: yellow;
    color: red;
    height: 40px;
    display: block;
}

#main{

}

#left{
    width: 700px;
    background: #F1F1F1;
    float: left;
    min-height: 500px;
    /*padding-top: 10px;
    padding-left: 10px;*/
}

div#left ul {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

div#left ul li{
    /*border: 1px solid #000;*/
    width: 100%; /*100% đối với thẻ div#left*/
    clear: left;
    float: left;
    margin-bottom: 15px;
}

div#left ul li img{
    float: left;
    width: 250px;
    border: 1px solid #CCC;
    padding: 2px;
    margin-right: 10px;
}

div#left ul li p{
    height: 100px;
    /*border: 1px solid;*/
    text-align: justify;
}

#right{
    width: 324px;
    background: #D3D3D3;
    float: left;
    min-height: 500px;
}

#footer{
    width: 100%;
    height: 45px;
    background: #000;
    color: #FFF;
    text-align: center;
    line-height: 45px;
    clear: both;
}
